@{
    ViewData["Title"] = "Замовлення оформлено";
}

<div class="text-center mt-5">
    <h2>Дякуємо за замовлення!</h2>
    <p>Ваше замовлення успішно оформлено.</p>
    <a asp-controller="Home" asp-action="Menu" class="btn btn-primary">Повернутись до меню</a>
</div>